.cardRoom-container{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}
.cardRoom {
    height: 21rem;
    width: 28rem;
    border: 2px solid ;
    border-color: $mi-grey-smoke;
    border-radius: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    background-color: $mi-white;
}

.cardRoom-Top{
    background: $mi-orange;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.cardRoom.animation-active table > tbody  > tr:first-child{
    // background: $mi-orange;
    border-width: 6px; 
    border-style: solid;
    font-style: oblique;
    animation-name: border-color-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
  
@keyframes border-color-animation {
    100% { 
        border-color: rgb(20, 119, 25);         
    }
}