.container-sm-scrollable {
    max-height: 400px;
    overflow-y: auto;
    // background-color: red; /* for debugging */
}

.video-item {
    padding-bottom: 20px;
    // border: 1px solid green; /* for debugging */
}
  