$mi-orange: #FAA362;
$mi-white: #ffffff;
$mi-black: #050505;
$mi-blue: #0d6efd;
$mi-blue-light: rgba(13, 109, 253, 0.6);
$mi-grey: #757575;
$mi-grey-blue: #7C8DB5;
$mi-grey-smoke: #E6EDFF;
$mi-green: #52a80b;
$mi-green-light: rgba(82, 168, 11, 0.6);
$mi-yellow: #eedd7f;
$mi-yellow-light: rgb(238, 221, 127, 0.6);
$mi-cyan: #0090b2;